<div class="ui container" th:fragment="header">
  <div class="ui large stackable secondary menu">

    <a href="/profile" class="item dreamer">
      <h2 class="ui image header">
        <i class="big bitcoin icon" style="color:#FAE62D;"></i>
        <div class="content">
          <h2 class="marker" style="font-size:1.55em;">coinswap scanner</h2>
        </div>
      </h2>
    </a>

    <a class="active item" href="/profile"><i class="user circle icon"></i><span th:text="${session.user.login}"></span></a>

    <th:block th:if="${session.user.role.toString().equals('USER')}">
      <a class="item colorable" href="/shops" id="link-shop">Магазин&nbsp;<i class="shopping basket icon"></i></a>
      <a class="item colorable" href="/settings">Настройки уведомлений&nbsp;<i class="cogs icon"></i></a>
      <a class="item colorable" href="/telegram">Tелеграм&nbsp;<i class="paper plane outline icon"></i></a>
    </th:block>
    <th:block th:if="${session.user.role.toString().equals('ADMIN')}">
      <a class="item" href="/admin">Пользователи&nbsp;<i class="user circle outline icon ico-blue"></i></a>
    </th:block>

    <div class="right item">
      <a class="ui small button" style="border-radius: 50px;font-size:0.9em!important;" href="/logout">Выход</a>
    </div>
  </div>
</div>

<div th:if="${session.user.role.name() == 'USER'}" class="account" style="width: 8em;text-align:center;position: absolute;z-index: 2;user-select:none;background: white;padding: 0.2em;">
  <i class="calendar alternate outline icon" style=";margin: 0em;"></i>
  Подписка до<br><b th:text="${session.user.getFormattedDateString()}"></b>
</div>
