/*@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face{
  font-family: "Jamstreet Graffiti";
  src: url("font/JamstreetGraffiti.ttf") format("truetype");
}
@font-face{
  font-family: "Arena Graffiti";
  src: url("font/ArenaGraffiti.ttf") format("truetype");
}

body{
    display: flex;
    flex-direction: column;
}

body, textarea {
    font-family: 'GT Eesti Pro Text', sans-serif !important;
}

body::selection {
    background: #1FC58E; /* WebKit/Blink Browsers */
}

div {
    font-family: 'GT Eesti Pro Text', sans-serif !important;
}

input {
    font-family: 'GT Eesti Pro Text', sans-serif!important;
}

h1, h2, h3 {
    font-family: 'GT Eesti Pro Text', sans-serif!important;
    font-weight: 800!important;
}

textarea.user-info{
    width:100%;
    height:100%;
    border:none;
    font-weight:700;
    background:rgba(0,0,0,.05);
    resize:none;
    outline:none;
    border-radius:30px;
    padding:1em;
}

.segment{
    border: none!important;
    border-radius: 0px!important;
    box-shadow: none!important;
}

.ui.table tr td {
    border-top: 1px solid rgba(34,36,38,.1)!important;
}
.ui.celled.table tr td, .ui.celled.table tr th {
    border-left: 1px solid rgba(34,36,38,.1)!important;
}
.ui.table thead th {
    border-bottom: none!important;
}

/*::-webkit-scrollbar { !* chrome based *!*/
/*    width: 0px;  !* ширина scrollbar'a *!*/
/*    background: transparent;  !* опционально *!*/
/*}*/

.token-fork-container::-webkit-scrollbar-track {
    background: transparent!important;
}

.token-fork-container{
  min-width: 65%;
  max-width: 65%!important;
  height: 56em!important;
  background: #fbfbfb;
  border-radius: 40px;
  padding: 1em!important;
  overflow: auto!important;
  box-shadow: inset 0 0 24px rgba(0,0,0,0.025);
}

.icon{
    margin: 0!important;
}
.icon.token-open{
  margin: 0!important;
}
.token-btn.open-link{
  float: right;
  background: #FAE62D!important;
}
.token-btn.open-link:hover{
    background: #FAE62D!important;
}
.exit-btn{
    min-width: 2em!important;
    border-radius: 50px!important;
    background: rgba(0,0,0,.05)!important;
}
.exit-btn:hover{
    background: rgba(0,0,0,.05)!important;
}
.exit-btn > i.icon{
    margin-bottom: 1px!important;
    margin-left: 6px!important;
}
@media (max-width: 1919px) {
  .token-fork-container{
    max-width: 90%!important;
  }
  .settings-form{
    max-width: 90%!important;
  }
}
.no-display{
    display: none!important;
}
.settings-form{
    min-width: 30%!important;
    max-width: 30%;
    min-height: 20em!important;
    background: white;
    border: 1px solid rgba(0, 0, 0, .06)!important;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .08)!important;
    border-radius: 25px!important;
    padding: 3.5em!important;
}
.settings-form-actions{
    display: flex!important;
    flex-direction: column!important;
    padding: 4em 0 0 0!important;
}
.fork-lifetime{
    border: none!important;
    text-align: end!important;
    background: transparent!important;
}
.token-fork{
  background: white;
  border: 1px solid rgba(0, 0, 0, .055)!important;
  border-radius: 25px!important;
  color: rgba(0,0,0,0.55)!important;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06)!important;
  font-size: 1.2em!important;
  margin: 0.5em!important;
  padding: 1em;
  min-width: 18em!important;
}
.token-fork > .profit {
  text-align: center;padding: 0.25em;
}
.profit > .percent{
  font-size:1.25em;
  font-weight:800;
  color: #1FC58E;
}
.token-fork > .token {
  color: inherit;
  margin-bottom: 0.5em;
}
.token > p{
    font-weight: 800!important;
}
.token-fork > .exchanges{
  margin: 0 auto!important;
  width: 100%;
}
.token-fork > .exchanges .pair{
  background:rgba(0,0,0,.05);
  padding: 1em!important;
  border-radius: 25px;
  color: inherit !important;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  resize: none;
  font-size: 0.9em;
}
.pair a {
    color: inherit!important;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.pair a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FAE62D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.pair a:hover:after {
    width: 100%;
    left: 0;
}

.token-fork > .exchanges > p > span{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.25);
}
.token-fork > .exchanges > p {
    font-size: 0.7em;
    padding-left: 1em;
}
.token-fork > .exchanges > .input > input{
    border-radius: 25px!important;
    height: 1.4em!important;
    border: 1px solid rgba(0, 0, 0, 0.25)!important;
    background: #fbfbfb!important;
}
.icon.input > .icon{
    opacity: 1!important;
}
.token-fork > .token > span{
  color: #f0d800;
}
.token-btn{
  padding: 0.25em!important;
  border-radius: 25px!important;
  margin: 0.5em 0 0 0!important;
  width: 32%!important;
}
.btn-ban-fork{
    background: transparent!important;
}
.btn-delete-fork{
    background: transparent!important;
    transition: 0.5s;
}
.btn-delete-fork:hover{
    color: red!important;
    transition: 0.5s;
}
.time-icon{
  margin-left: -10px!important;
  color: #f0d800!important;
}
.marker {
  font-family: 'Permanent Marker', cursive!important;
  /* font-family: "Jamstreet Graffiti"!important; */
  /* font-family: "Arena Graffiti"!important; */
}

#swapper {
max-width: 200px;
text-align: center;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@keyframes flame {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

.color-animated{
  text-transform: uppercase;
  background: linear-gradient(0deg, #ffc840, #ff2424);
  background-size: 130% 130%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: flame 0.8s ease infinite;
}

.code-status{
  text-align: center;
  font-weight: 800;
  color:white;
  user-select: none;
}

.red{
  background: red!important;
}

.btn-delete{
  color:rgba(34,36,38,.15) !important;
  cursor:pointer !important;
  transition: 0.3s !important;
}

.btn-delete:hover{
  color:red !important;
  transition: 0.5s !important;
}

.ui.form > .field{
  font-size: 1.25em!important;
}
.settings-form > .fields > .field > input{
    border: 1px solid rgba(0, 0, 0, .06) !important;
    border-radius: 25px!important;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.05)!important;!important;
}

.field > label{
  font-size: 1.25em!important;
  font-weight: 600!important;
}

.stock-markets-search-field {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.button{
  font-size: 1.25em!important;
}

.add-stock-markets-button   {
    max-height: 55px !important;
}


.item{
  transition: 0.3s !important;
}

body:not(.selection) > .icon{
  margin: 0em!important;
  padding: 0em!important;
}

.item:hover{
  transition: 0.5s !important;
}

.dreamer:hover{
  background: transparent !important;
}

i.ico-blue{
  text-align: center !important;
  font-weight: 800 !important;
  color: #1FC58E !important;
}
.my-footer{
    margin-top: auto !important;
}

.main-grid {
    width: 40%;
    margin: 3em auto;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

.seller{
  width: 70%;
  border-radius: 10px;
  border: 2px solid #F8F8FF;
  margin: 1em;
  position: relative;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.seller.amazon{
  background: #000000 !important;
  color: #FF9900 !important;
}

.seller > .amazon{
  color: #FF9900 !important;
}

.seller-logo{
  font-size: 6em !important;
  position: absolute;
  color: rgba(0, 0, 0, 0.17);
  top: 50%;
  text-align: center;
  width: 100% !important;
}

.account {
    border-radius: 10px;
    border: 2px solid #F8F8FF;
    margin: 1em;
    position: relative;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    /*background-image: url(../img/amazon_logo.svg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: contain;*/
    /*background-blend-mode: color;*/
    /*background-color: rgba(255, 255, 255, 0.86);*/
}

.account > img{
  position: relative;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.bg-account-icon {
    font-size: 5em !important;
    position: absolute;
    color: rgba(0, 0, 0, 0.17);
    top: 50%;
    text-align: center;
    width: 100% !important;
    z-index: -1;
}

.account-login {
    z-index: 2;
    position: relative;
    text-align: center;
    margin: 1em 0 2em;
    font-weight: bold;
    font-size: 2em;
    color: #393939;
}

.bg-profiles-icon {
    position: relative;
    z-index: 1;
    font-size: 1em;
    margin-top: 1em;
    color: #e5e5e5;
    user-select: none;
    text-align: right;
}

.bg-presets-icon {
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 1em;
    margin: 0em;
    color: #e5e5e5;
    user-select: none;
    text-align: right;
}

.presets-name {
    position: relative;
    margin: 1.8em 0;
    text-align: center;
    z-index: 2;
    color: #414141;
    font-weight: 500;
}

.presets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profiles-name {
    position: relative;
    z-index: 2;
    margin-top: -1.5em;
    color: #414141;
    font-weight: 500;
}


.aqua {
    background: #F8F8FF !important;
}

.open-btn {
    font-weight: 500 !important;
    margin: 1em !important;
    border-radius: 2em !important;
    user-select: none !important;
    font-size: 1.25em !important;
    line-height: 2.5em;
    text-align: center;
    color: #1FC58E!important;
    outline: none !important;
    cursor: pointer;

    transition: 0.3s;
}

.open-btn:hover {
    background: #1FC58E !important;
    color: white !important;
    transition: 0.5s;
}

.btn {
    font-weight: bold !important;
    margin: 2em !important;
    border-radius: 25px !important;
    user-select: none;
    color: #1FC58E !important;
    outline: none !important;
}


.btn-play > .icon{
  margin: 0 !important;
}

.btn-stop > .icon{
  margin: 0 !important;
}

.btn-play {
    font-size: 0.9em!important;
    font-weight: bold !important;
    border-radius: 25px !important;
    user-select: none!important;
    color: blue !important;
    outline: none !important;
    text-align: center!important;
}

.btn-stop {
    font-size: 0.9em!important;
    font-weight: bold !important;
    border-radius: 25px !important;
    user-select: none!important;
    color: red !important;
    outline: none !important;
    text-align: center!important;
}

.overflow {
    overflow: hidden;
    position: relative;
}

.overflow::after {
    content: "";
    text-align: right;
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
    pointer-events: none;
}

.dropdown > a {
    border-radius: 35px !important;
    color: #1FC58E !important;
}

.sidebar > .item {
    box-shadow: none !important;
    background: white !important;
    transition: none !important;

}

.error.message {
    border-radius: 50px !important;
    border-color: #d50000 !important;
    border-width: 3px !important;
    background: white !important;
    color: #d50000 !important;
}

.underlined {
    border-bottom: 3px solid #1FC58E;
}

b.rounded {
    background:#1FC58E;
    color: white;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

input.custom {
    background: transparent;
    border: none;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 2em;
    color: white;
    outline: none;
    width: 10em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.stock-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.stock-item  {
    background-color: rgba(224, 225, 226, 255);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.stock-market__name {
    color: rgba(104, 104, 105, 255);
    overflow-wrap: break-word;
    padding-right: 5px;
}

.stock-market-template__name  {
    white-space: normal;
    max-width: 80%;
}

.stock-market-template__icon    {
    color: rgba(104, 104, 105, 255);
    font-size: 2em;
}



input.custom:focus {
    border-bottom: 3px solid #1FC58E;
    transition: 0.3s;
}

.blue.button {
    border-radius: 30px;
}

.menu > .item{
  margin-top: 0.5em!important;
  padding: 0.6em!important;
}

.menu > .item.colorable{
  background: #FAE62D!important;
  color: #191414!important;
  border-radius: 25px!important;
  border: 1px solid #ffed4b!important;
}

.menu > .item.colorable:hover{
  background: #FAE62D!important;
  /* color: white!important; */
  transition: 0.5s;
  box-shadow: 0px 0px 20px 5px rgba(250, 230, 45, 0.9);
}

input.custom-simple {
    background: transparent;
    border: none;
    outline: none;
    width: auto;
    text-align: center;
}

body::selection {
    background: #F9AA0D !important;
    color: white;
}

.yellow-text {
    color: #F9AA0D !important;
}

.green {
    background-color: #09AF5B !important;
}

.blue {
    background-color: #1FC58E !important;
}

.blue-text {
    color: #1FC58E !important;
}

.white-text {
    color: #ffffff !important;
}

.black-text {
    color: #000000 !important;
}

.success {
    font-weight: 800;
    color: white;
    background-color: green;
    font-height: 1.5em;
    width: 100%;
    height: 1.5em;
}

.three.column.wide.stackable.grid {
    background-color: rgba(0, 0, 0, 0.01) !important;
}

.link-hover-center {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.link-hover-center:after {
    display: block;
    content: "";
    background-color: #07aa19;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.link-hover-center :hover:after,
.link-hover-center :focus:after {
    width: 100%;
}

.main-h {
    text-align: center!important;
    font-size: 3em!important;
}

.main-description {
    opacity: 0.8!important;
    font-size: 1.25em!important;
    user-select: none;
    text-align: center;
}

.main-btn {
    color: black!important;
    font-size: 1.25em!important;
    background-color: #1FC58E!important;
    border-radius: 50px;
}

.page-name {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.template   {
    padding: 10px;
}


.template__header  {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 561px;
    flex-grow: 1.1;
    margin-left: 5px;
}

.template__header-name  {
    /*margin-right: 36px;*/
    display: flex;
    flex-direction: row;
    flex-basis: 150px;
    align-items: center;
    justify-content: space-evenlyf;
}

.template__token-title  {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: black;
    margin-right: 10px;
}

.template__token-symbol {
    display: block;
    max-width: 89px;
    max-height: 35px;
    padding: 6px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #F9E72B;
    background: black;
    border-radius: 4px;
}

.template__token-platform-title {
    font-weight: 350;
    flex-basis: 350px;
    font-size: 24px;
    text-align: center;
}

.template__token-platform-title::before {
    content: "[";
    color: #f0d800;
}

.template__token-platform-title::after  {
    content: "]";
    color: #f0d800;
}

.template__token-price  {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    flex-basis: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.template__token-price::after  {
    display: block;
    width: 30px;
    height: 20px;
    content: ' ';
    background-repeat: no-repeat;
    background-image: url("../res/lightning.svg");
    transform: translate(3%, 16%);
}

.template__token-thumbtack {
    display: block;
    width: 100%;
    height: 100%;
}

.thumbtack-icon {
    font-size: 2em;
}

.template__token-time   {
    font-weight: 350;
    font-size:24px;
    line-height: 28px;
    color: #DADADA;
    justify-content: end;
    flex-basis: 100px;
    margin-right: 10px;
}

.fork  {
    background: white;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 1px solid rgba(0, 0, 0, .055);
    border-radius: 25px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06);
    margin-bottom: 10px;
}



.template__headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
}





.fork-template__cell  {
    font-size: 16px;
    line-height: 18px;
}

.fork-template__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.fork-template__buy    {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 13px;
    padding-top: 13px;
    background: #F8F8F8;
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    box-sizing: border-box;
    justify-content: space-between;
}

.fork-template__sell {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #DADADA;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}


.fork-template__part .fork-template__cell   {
    font-weight: 350;
}

.fork-template__operation-name  {
    margin-left: 24px;
    flex-basis: 138px;
    font-weight: 700px;
    text-transform: uppercase;
    font-size: 16px;
    color: #000000;
}

.fork-template__token-name  {
    flex-basis: 224px;
    position: relative;
}

.fork-template__token-name a {
    color: inherit!important;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.fork-template__token-name a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FAE62D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.fork-template__token-name a:hover:after {
    width: 100%;
    left: 0;
}

.fork-template__volume  {
    flex-basis: 197px;
}

.fork-template__price   {
    flex-basis: 100px;
}


.fork-template__benefit {

    min-width: 60px;
    text-align: center;
    padding-top: 6px;
    margin-right: 60px;
    padding-bottom: 6px;
}

.fork-template__sale-benefit {
    border-radius: 4px;
    background: #51A784;
    color: white;
}

.fork-template__icons   {
    flex-basis: 154px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fork-link  {
    display: block;
    width: 32px;
    height: 32px;
}

@media screen and (max-device-width: 1000px) {
  .only_mobile {
    display: none!important;
  }
}
