<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>coinswap app</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="image/png" href="/res/logo.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="css/font/fonts.css">
    <link rel="stylesheet" href="css/master.css">

    <?php require 'components/reg-info-modal.php'; ?>
</head>

<style type="text/css">
    body > .grid {
        height: 100%;
    }
    .column {
        max-width: 450px;
    }
</style>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column" id="inp-form">
        <h2 class="ui image header">
            <i class="big bitcoin icon" style="color:#FAE62D;"></i>
            <div class="content">
                <h2>anthill coinswap scanner</h2>
            </div>
        </h2>
        <p style="opacity:0.5;padding-top:1em;">Авторизация</p>
        <form class="ui large form">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user circle icon"></i>
                    <input type="text" name="text" placeholder="Логин" id="inp-login">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="key icon"></i>
                    <input type="password" name="password" placeholder="Пароль" id="inp-password">
                </div>
            </div>
            <div class="ui blue fluid large submit button" id="btn-login"
                 style="background:#1FC58E!important;border-radius: 50px;color:#191414;">Вход</div>
            <a class="ui fluid large submit button" href="registration.html"
               style="color:#191414!important;background-color: transparent!important;border-radius: 50px;">Регистрация</a>
            <div class="ui error message" id="error-login"></div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/js/master.js"></script>
<script src="/js/cookie.js"></script>
<script src="/js/handlers/login-handler.js"></script>
<script src="/js/handlers/registration-handler.js"></script>
</body>
</html>
